{% extends "layout.html" %}

{% block page_title %}Homepage{% endblock page_title %}

{% block content %} 

<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            <!--menu-->
            <div class="list-group">
                <a href="#" class="list-group-itome list-group-item-action">Acıbadem CS Turnuvası</a>
                <a href="#" class="list-group-itome list-group-item-action">Programlama</a>
                <a href="#" class="list-group-itome list-group-item-action">Programlama</a>
            </div>
        </div>    
        <div class="col-9">
            <!--content-->
            Anasayfa
        </div>    
    </div>
</div>

{% endblock %}